<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--Googleのフォント-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ガイド</title>
    
  </head>
    <body>
        <div class="authorBox">
            # -*- coding: utf-8 -*-
            """
            Created on Sun Jun 12 20:45:50 2022
        
            @author: MSI E20C2022 Rangkuti Ferdi Rizaldi E20C2023 Lin Vincent Antonio プロジェクト演習３KCG
            """
        </div>
        <header>
            <a href="#" class="logo">TAO</a>
            <ul>
                <li><a href="{{ url_for('upload_file') }}">ホーム</a></li>
                <li><a href="{{ url_for('guidePage') }}">ガイド</a></li>
                <li><a href="{{ url_for('upload_file') }}">認識可能な種類</a></li>
                
            </ul>
        
        </header>
        <div class="headerTOP"><h1>アプリケーションの使い方</h1></div>
        <div class="guideBody">
            <img src="{{ url_for('static', filename='SiteContent/guide1.JPG') }}" alt="guide1">
            <img src="{{ url_for('static', filename='SiteContent/guide2.JPG') }}" alt="guide1">
            <img src="{{ url_for('static', filename='SiteContent/guide3.JPG') }}" alt="guide1">
            <img src="{{ url_for('static', filename='SiteContent/guide4.JPG') }}" alt="guide1">
        </div>    
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    <footer>
    <h1 class="backLink"><a href="{{ url_for('upload_file') }}">ホームへ戻る</a></h1>
    </footer>
</html>